# Logs & local debug
logs/
*.log*
debug.json

# NodeJS & npm
package-lock.json

# Dependency directories
node_modules/
jspm_packages/

# Compiled binary addons
# https://nodejs.org/api/addons.html
build/Release

todo/
coverage/
