# Logs
logs/
*.log*

# OS
.DS_Store

# NodeJS & npm
package-lock.json

# Optional npm cache directory
.npm
# Output of 'npm pack'
*.tgz

# Dependency directories
node_modules/
jspm_packages/

# Compiled binary addons
# https://nodejs.org/api/addons.html
build/Release

todo/
coverage/
